# To keep the application alive
camel.springboot.main-run-controller=true

# Create a new bot using the BotFather, then put here your token
camel.component.telegram.authorization-token=TELEGRAM_BOT_KEY

# Telegram Bot properties
bot.daddy=major13

# Joke service properties
joke.url=http://api.icndb.com/jokes/random
joke.connection.timeout=1000
joke.read.timeout=1000
joke.schedule=timer://test?fixedRate=true&period=60000